{% extends "dashboard/base.html" %}
{% block content  %}
            <div class="content-page">
                <div class="content">
                    <!-- Start Content-->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">                                    
                                    <div class="page-title-right">
                                        <form class="d-flex">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-light" id="dash-daterange">
                                                <span class="input-group-text bg-primary border-primary text-white">
                                                    <i class="mdi mdi-calendar-range font-13"></i>
                                                </span>
                                            </div>
                                            <a href="javascript: void(0);" class="btn btn-primary ms-2">
                                                <i class="mdi mdi-autorenew"></i>
                                            </a>
                                            <a href="javascript: void(0);" class="btn btn-primary ms-1">
                                                <i class="mdi mdi-filter-variant"></i>
                                            </a>
                                        </form>
                                    </div>
                                    <h4 class="page-title">Dashboard</h4>
                                </div>
                            </div>
                        </div><!-- end row -->
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Contact</h4>
                                        <p class="text-muted font-14"> Web saytning yuqori qismi</p>
                                        <div class="tab-content">
                                            <div class="tab-pane show active" id="typeahead-preview" role="tabpanel">
                                                <div class="row">
                                                    <form method="post">
                                                        {% csrf_token %}
                                                        {% if contact.is_show %}
                                                            <input type="checkbox" value='on'  name = 'is_show' class="form-check-input" id="customCheckcolor7" checked>
                                                        {% else %}
                                                            <input type="checkbox" value='on' name = 'is_show'  class="form-check-input" id="customCheckcolor7">
                                                        {% endif %}
                                                        <label for="customCheckcolor7">O'qildi</label>
                                                        <div class="col">

                                                            <br><br><button type="submit" class="btn btn-success rounded-pill">Saqlash</button>
                                                        </div>
                                                    </form>
                                                </div><!-- end row -->                   
                                            </div> <!-- end preview-->
                                        </div> <!-- end tab-content-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div>
                    </div><!-- container -->
                </div><!-- content -->

{% endblock %}